body {
    background: #EBEBF0;
    color: #F6F6F6;
}

.container {
    width: 100%vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure full viewport height */
    /* margin-top: 200px; */
}

/* Default styles for larger screens */
.main {
    width: 556px;
    height: 567.021px;
    flex-shrink: 0;
    background: #8785A2;
    box-shadow: 0px 8.723403930664062px 20.93617057800293px rgba(32, 31, 41, 0.08);
    margin: 0 auto 0 auto;
    border: transparent;
    border-radius: 13%;
    display: flex;
    flex-direction: column;
    outline: 1px;
}

.profile_pic {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

img {
    width: 167px;
    height: 167px;
    align-items: center;
}

.center {
    text-align: center;
}

.profile_date {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
}

i {
    color: white;
}

.margin-top {
    margin-top: 15px;
}

/* Media Query for Small Screens */
@media screen and (max-width: 1068px) {
    .main {
        width: 100%;
        margin: 0;
        border-radius: 0;
        /* Adjust as needed */
    }

    .profile_pics {
        margin-top: 30px;
    }

    .profile_date {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 40px;
        text-align: center;

    }

    img {
        width: 167px;
        height: 167px;
    }
}

/* Media Query for Medium Screens */